<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<title>Poker Online</title>
			<nav class="navbar navbar-dark bg-dark">
				<a href="/" style="color:white;"> Accueil </a>
				<a href="/regle" style="color:white;"> Règles </a>
			</nav>
		</header>
		<main>
			<section class="container">
				{% block body %}{% endblock %}
			</section>
		</main>
	</body>
</html>
