{% extends 'modele.html' %}
{% block body %}

<h1>Tirage N°2</h1>
<div class="row">
	{% for card in hand %}
	<div class="col-auto">
		<img
			class="img-fluid card"
			alt="carte"
			src="{{ url_for('static', filename='cards/'+card+'.svg') }}"
		/>
	</div>
	{% endfor %}
</div>
<p>
	{{ score_text}}
	<br />
	{% if coeff > 1 %} Vous avez gagnez <b>{{ bet * coeff }}&nbsp;€</b>
	<br />
	{% endif %}
	<strong>Votre banque est de {{ quitter }}&nbsp;€</strong>
</p>
<a href="/" class="btn btn-dark" title="rejouer"> <i class="fas fa-redo"></i> </a>
{% endblock %}
